{% extends 'website/shared/layout.html' %}
{% block content %}
<div id="use">
	<h1>Как оно работает.</h1>
	<section>
		<p>
			Этот сайт написан на <a href="https://www.python.org/" target="_blank" rel="external">Python</a>, а значит совсем не требователен к ресурсам
			и может крутится на меленькой машинке где-то в облаке.
		</p>
		<p>
			Web-фреймворк - <a href="https://www.djangoproject.com/" target="_blank" rel="external">Django</a> движок представлений - <a href="https://docs.djangoproject.com/en/1.11/topics/templates/" target="_blank" rel="external">django templates</a>,
			что может быть проще?
		</p>
		<p>
            Сайт работает внутри <a href="https://www.docker.com/" target="_blank" rel="external">Docker</a> контейнера и практически не требует ресурсов.
			Он и правда очень легкий - ниже вы можете посмотреть информацию о ресурсах системы.
		</p>
		<p>
			И даже исходники есть - <a href="https://github.com/risedphantom/ShowcasePython" target="_blank" rel="external">вот они</a>.
		</p>
	</section>
	<br>
	<br>
	<h1>Системная информация.</h1>
	<section>
		<p>
			<strong>ОС:</strong> {{os_type}} {{os_arch}} ({{os_platform}})<br>
			<strong>Память:</strong> {{os_freemem}}/{{os_totalmem}} Mb<br>
			<strong>Процессор:</strong> {{os_cpu_percent}}% ({{os_cpu_freq}} GHz)<br>
		</p>
	</section>
</div>
{% endblock %}