{% extends 'website/shared/layout.html' %}
{% block content %}
{% load static %}
<div id="contact">
    <h1>Я просто оставлю это здесь.</h1>
    <section>
        <p>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mobile"></use></svg>
            +7 (916) 662-0240
        </p>
        <p>
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use></svg>
            <a href="mailto:panov.anton.sergeevich@gmail.com">panov.anton.sergeevich@gmail.com</a>
        </p>
        <p id="qrsection">
            <img id="qrcode" src="{% static 'image/qr.svg' %}" alt="QR code"/>
        </p>
        <p>
            Здесь могло быть мое фото, но его здесь нет.
        </p>
    </section>
</div>
{% endblock %}