{% extends 'website/shared/layout.html' %}
{% block content %}
<div>
    <h1>Я занимаюсь R&D и программирую на чём придется.</h1>
    <div id="expertise">
	    <section>
	        <h2 class="subhead">
	            <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
	            Я C# разработчик.
	        </h2>
	        <p>Я пишу интеграционные службы для внутреннего использования. Высокая производительность? Да.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
	            Я MSSQL разработчик.
	        </h2>
	        <p>Куда же без баз данных? Почти в каждом проекте они есть.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
	            Я решаю R&D задачи.
	        </h2>
	        <p>Внедрить Continious Integration, настроить мониторинг и сборку логов, автоматизировать работу технической поддержки? Обращайтесь.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon pos"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-circle"></use></svg>
	            Я решаю различные интеграционные задачи.
	        </h2>
	        <p>Дописать небольшой модуль к существующий системе на PHP, Java, JS, C++, Pascal, &ltвставьте необходимое&gt? Это мой конёк. Дайте мне неделю.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon caution"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning"></use></svg>
	            Могу разрабатывать на Delphi.
	        </h2>
	        <p>Действительно могу, если очень надо.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon caution"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning"></use></svg>
	            Могу выполнять задачи системного администрирования.
	        </h2>
	        <p>DevOps? Да. Работать 24/7? Нет.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon neg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cancel-circle"></use></svg>
	            Я не front-end разработчик.
	        </h2>
	        <p>Могу, но оставим это профессионалам.</p>
	    </section>
	    <section>
	        <h2 class="subhead">
	            <svg class="icon neg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cancel-circle"></use></svg>
	            Я не системный аналитик и не PM.
	        </h2>
	        <p>Пробовал. Не понравилось.</p>
	    </section>
	</div>
</div>
{% endblock %}
