{% extends 'website/shared/layout.html' %}
{% block content %}
<div id="portfolio">
	<h1>Кое-что из моих разработок.</h1>
	<section class="github-callout">
        <svg class="mail icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg>
        Вы здесь только ради исходников?
        <a href="https://github.com/risedphantom" rel="external" target="_blank">Они на GitHub</a>
    </section>
	<section>
		<p>
	        Приведенный ниже список - это разумеется не всё, чем я занимался последние годы, и даже не всё, что мне не стыдно показать. Этот список показывает
	        вектор моего развития, а также технологии, которые мне интересны.
        </p>
    </section>
    <section class="formal-warn">
        <h2 class="subhead">
            <svg class="icon caution"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-warning"></use></svg>
            Осторожно! Вы входите в зону повышенной формальности! Далее будет много текста.
        </h2>
    </section>
    <section>
        <h2 class="subhead">MassMailer</h2>
        <p>
			<a href="https://github.com/risedphantom/MassMailer" rel="external" target="_blank">MassMailer</a> 
			выполнен в виде классической Windows службы и предназначен для отправки больших объемов писем по указанному шаблону.
			<blockquote>
	            Данный проект является частью внутреннего сервиса рассылок известной организации и содержит в себе жесткие связи с другими узлами.
	        </blockquote>
        <h3 class="subhead2">Основные возможности</h3>
	    <p>
	    	<ul>
	    		<li>Поддержка HTML шаблонов писем с использованием синтаксиса С# (Razor).</li>
				<li>Поддержка шаблонов темы письма.</li>
				<li>Возможность отправки писем по приоритетам.</li>
				<li>Различные DKIM подписи для различных адресов отправителя.</li>
				<li>Отправка основных показателей жизнедеятельности в Zabbix.</li>
				<li>Возможность запускать параллельно множество копий данной службы.</li>
				<li>Возможность отправки писем с вложениями.</li>
	    	</ul>
        <h3 class="subhead2">Структура</h3>
	    <p>
		    Главный рабочий процесс службы выполнен в виде DataFlow конвейера и содержит в себе 4 основных блока: блок подготовки данных для шаблона _parseXmlDataBlock, 
		    блок подготовки и отправки письма _sendEmailsBlock, блок накопления результатов _batchResultBlock и блок записи _writeResultsBlock. 
		    Количество копий каждого блока (степень параллелизма) настраиваются в конфигурационной файле и подбираются опытным путем под конкретную систему.
			<blockquote>
				Так как самое узкое место системы – отправка почты, рекомендуется использовать настройки 0,5х; 2х;1;1 для указанных блоков (где «х» - количество процессорных ядер).
			</blockquote>
        Каждый из блоков оперирует порциями данных – batch – размер которых также доступен в настройках.
        Данные, для подстановки в письмо – модель – получается из БД в виде обычной XML структуры и в первом блоке
        преобразуется в dynamic объект.
        Затем, во втором блоке, текст шаблона подгружается из БД или берется из внутреннего кэша, если он там
        присутствует.
        Далее рендерится тело письма, а затем и заголовок если это необходимо. Если в письме присутствуют вложения, оно
        загружается из БД или из кэша.
        Далее генерируется готовое письмо, из кэша доступных DKIM подписей выбирается нужная и письмо отправляется.
        Результаты работы данного блока записываются во временную таблицу и в статические счетчики успехов/ошибок.
        Временные таблицы аккумулируются в 3 блоке, а затем сливаются и записываются в БД в 4 блоке.
    </section>
    <section>
    	<h2 class="subhead">TopCrawler</h2>
		<p>
			<a href="https://github.com/risedphantom/TopCrawler" rel="external" target="_blank">TopCrawler</a>
			выполнен в виде классической Windows службы и предназначен для сбора и сортировки больших объемов писем с указанных ящиков.
			Основная идея проекта - использование SMTP в качестве универсального механизма обмена данными между различными службами. 
			В настоящий момент реализованы функции, соберающие статистику по маркетинговым рассылкам: FBL отчеты, bounce письма, полезные письма.
			<blockquote>
				Данный проект является частью внутреннего сервиса известной организации и содержит в себе жесткие связи с другими узлами.
			</blockquote>
        <h3 class="subhead2">Основные возможности</h3>
		<p>
			<ul>
				<li>Поддержка 3 типов писем: fbl, bounce, crm (полезные письма от клиентов).</li>
				<li>Поддержка плагинов для парсинга тела письма.</li>
				<li>Отправка основных показателей жизнедеятельности в Zabbix (тайминги доступа к ящикам, количество обработанных писем/ошибок).</li>
				<li>Возможность парсинга писем с вложениями.</li>
				<li>2 режима работы: служба или консольное приложение.</li>
				<li>Запись RAW email в файловый архив.</li>
				<li>Остановка службы с сохранением промежуточных результатов.</li>
			</ul>
        <h3 class="subhead2">Структура</h3>
		<p>
			После прочтения списка почтовых ящиков из настроек, служба забирает с них всю почту по POP3 (для каждого ящика в отдельном потоке.)
			<blockquote>
				Использование простейшего протокола POP3 оправдано в данной ситуации, так как службе всего лишь требуется забрать всю почту с ящика как можно быстрее.
			</blockquote>
			Каждый из ящиков имеет определенный тип (crm, fbl, bounce), таким образом категоризация сводится к определению типа ящика.
			<blockquote>
				Данное ограничение не вызовет никаких проблем при правильной организации сервисных ящиков. Bounce письма должны падать на ряд ящиков, 
				выделенных исключительно под эти цели с использованием служебного заголовка return-path. 
				Ящики для FBL отчетов обычно указываются в личных кабинетах почтовых провайдеров, предоставляющих данную услугу. 
				Для любой новой задачи (например синхронизация данных 2-х систем) можно выделить отдельный тип ящиков, что тоже будет неплохой практикой.
			</blockquote>
			Все письма поступают в блок категоризации _sortMailDataBlock, а затем распределяются по блокам второго уровня в зависимости от типа ящика. 
			FBL письма сразу записываются в БД блоком _addToFblDataBlock. CRM письма фильтруются на предмет спама блоком _spamFilterDataBlock, 
			а затем записываются в БД блоком _addToCrmDataBlock. Bounce письма категоризируются по типам автоответов в блоке _checkBounceDataBlock, 
			затем в тела письма находится адрес отправителя (не автора Bounce письма, а изначального адресата кому мы пытались отправить письмо) в блоке _identifyDataBlock, 
			а результаты записываются в базу блоком _addToBounceDataBlock.
			<blockquote>
				Правила парсинга писем блоками _checkBounceDataBlock и _identifyDataBlock реализованы в плагинах, подгружаемых в момент запуска службы. 
				Для создания нового плагина (например нового правила парсинга) достаточно написать любой класс, 
				реализующий интерфейс ICondition (для категоризации Bounce) или IIdentification (для нахождения отправителя).
			</blockquote>
			<blockquote>
				Плагины по сути являются условиями, которые вычисляются для содержимого письма и проверка завершается на первом истинном условии. 
				Таким образом "сложные" условия должны быть упакованы в "условие-обертку".
			</blockquote>
    </section>
    <section>
    	<h2 class="subhead">ServiceConfigurator</h2>
    	<p>
			<a href="https://github.com/risedphantom/ServiceConfigurator" rel="external" target="_blank">ServiceConfigurator</a> - 
			это self-hosted OWIN-based веб-служба для простого конфигурирования внутренних сервисов предприятия.
			Текущая альфа версия проекта содержит в себе всего лишь 1 модуль для конфигурирования веб-серверов IIS.
			В проекте есть полноценный веб-интерфейс при отсутствии тяжеловесных ASP и MVC.
		</p>
		<h3 class="subhead2">Основные возможности</h3>
		<p>
			<ul>
				<li>Настройка разрешения доступа по IP, URL и QueryString для группы сайтов.</li>
				<li>Полноценный REST API дающий доступ ко всем настройкам.</li>
				<li>Применение правил IIS по графику.</li>
				<li>Отправка основных показателей жизнедеятельности в Zabbix (количество активных правил).</li>
				<li>Полноценный веб-интерфейс основанный на twitter bootstrap.</li>
				<li>2 режима работы: служба или консольное приложение.</li>
				<li>Движок представлений реализован на клиентской стороне.</li>
			</ul>
        <h3 class="subhead2">Структура</h3>
		<p>
			Служба выполнена по классической MVC модели, однако без использования MVC библиотек .NET. Контроллеры, реализующие WebAPI и пользовательский API разделены. 
			Вспомогательные функции записи логов, чтения конфигурации и отправки данных в систему мониторинга Zabbix выполнены в виде глобальных singleton классов. 
			Также в отдельный блок выделены классы ядра, взаимодействующие с БД, удаленными серверами IIS и выполняющие прочие внутренние функции.
			В качестве движка представлений используется открытый RazorEngine, однако в данной реализации он может быть спокойно исключен, 
			так как подобие движка представлений реализовано на клиентской стороне.
			Конвейер обработки HTTP запросов реализован на фрэймворке katana и в данной версии не содержит middleware аутентификации и авторизации.
		</p>
		<h3 class="subhead2">Пользовательский интерфейс</h3>
		<p>
			Основная особенность пользовательского интерфейса - динамическая загрузка контента при необходимости. 
			Таким образом любые вложенные элементы на HTML странице подгружаются в виде независимых HTML блоков тем самым увеличивая отзывчивость интерфейса и скорость загрузки.
			<blockquote>
				Разумеется такой подход хорошо применим лишь к single-page веб приложениям так как имеет один существенный недостаток - 
				отсутствие обратной связи через URL и отсутствие историчности. Однако данный вопрос может быть легко решен через клиентские JS фрэймвоки.
			</blockquote>
    </section>
</div>
{% endblock %}