{% extends 'website/shared/layout.html' %}
{% block content %}
{% load static %}
<div id="resume">
	<h1>Что я повидал в своей карьере.</h1>
	<section class="github-callout">
		<svg class="icon"><use href="#icon-download"></use></svg>
		Полную версию резюме можно скачать
		<a href="{% static 'files/Product_manager.pdf' %}" rel="external" target="_blank">тут</a>.
	</section>
	<section class="formal-warn">
        <h2 class="subhead">
            <svg class="icon caution"><use href="#icon-warning"></use></svg>
            Осторожно! Вы входите в зону повышенной формальности! Далее будет много текста.
        </h2>
    </section>
	<section>
		<h2 class="subhead">КЛЮЧЕВЫЕ НАВЫКИ</h2>
		<p>
			<ul>
				<li>Более 10 лет опыта коммерческой разработки.</li>
				<li>Степень магистра в области компьютерных систем и сетей.</li>
				<li>Уверенное знание C#, MS SQL, Delphi.</li>
				<li>Умение быстро изучать и использовать новые технологии.</li>
				<li>Опыт управления продуктом.</li>
				<li>Опыт управления проектами.</li>
				<li>Опыт DevOps.</li>
				<li>Опыт проектирования ПО.</li>
				<li>Опыт ведения переговоров с зарубежными партнерами.</li>
				<li>Опыт работы на Linux, FreeBSD.</li>
			</ul>
        <h2 class="subhead">ОПЫТ РАБОТЫ</h2>
		<p>
			<table class="place">
				<tr>
					<td class="dates">Янв 2016 – наст. вр.</td>
					<td class="position">Менеджер проектов</td>
				</tr>
			</table>
			<h3>OZON.Travel</h3>
			<h3>Москва, Россия</h3>
			<p>
				<ul>
					<li><i>Управление продуктом «авиабилеты»</i>: Проектирование и запуск нового продукта – продажа чартерных билетов.
                        Проектирование и запуск нового доп. продукта для авиабилетов – дополнительные услуги на борту самолета.
                        Проектирование и запуск нового механизма продажи авиабилетов – upsell на основе семейств тарифов авиакомпаний.
						Проектирование и запуск механизма определения норм багажа на рейсах авиакомпаний. Разработка и запуск проекта по сокращению среднего времени поиска.
						Планирование и контроль продаж/доходности по каналам и продуктовым сегментам. Позиционирование продукта, конкурентный анализ, ценообразование.
					</li>
					<li><i>Управление проектами</i>: Тесное взаимодействие с провайдерами услуг (GDS Amadeus, Sabre, Сирена-Трэвел) и представителями авиакомпаний.
						Выполнение задач в условиях жестких дэдлайнов. Сокращение сроков реализации проектов за счет непосредственного участия в разработке/тестировании.
						Контроль реализации задач разработчиками и QA. Планирование ресурсов в рамках существующего SCRUM-процесса. Ведение отчетности с использованием TFS, MS Project, OLAP-кубы.
					</li>
					<li><i>Разработка C#</i>: Проектирование и разработка (с нуля) нового поискового движка для продажи авиабилетов (ключевой поисковый механизм в компании).
                        Создание (с нуля) движка правил для имплементации бизнес логики – Expression Trees.
					</li>
				</ul>
        <div class="extend centered" id="extend">
			<a href="#extend" class="btn">Ещё</a>
		</div>
		<div class="spoiler">
			<p>
				<table class="place">
					<tr>
						<td class="dates">Окт 2013 – Янв 2016</td>
						<td class="position">Разработчик информационных систем</td>
					</tr>
				</table>
				<h3>OZON.Travel</h3>
				<h3>Москва, Россия</h3>
				<p>
					<ul>
						<li>
							<i>DevOps</i>: Имплементация Continuous Integration для различных проектов с использованием Docker + Travis CI + Bash (Linux системы).
                            Имплементация Continuous Integration для различных проектов с использованием TFS + Microsoft Release Management (Windows системы).
							Тонкая настройка рабочих процессов в JIRA для организации Service Desk. Доработка проектов для поддержки мониторинга их через Zabbix + Kibana.
							Разработка Configuration Manager с тонким клиентом для конфигурирования всех инстансов IIS, включая временные конфигурации, применяемые по графику. Внедрение ряда ITSM практик.
						</li>
						<li>
							<i>Разработка C#</i>: Разработка (с нуля) сервиса для массовой рассылки почты (миллионы писем) – TPL DataFlow, Интерфейс – ASP.NET Web Pages, ASP.NET WebAPI.
							Создание (с нуля) сервиса сборщика почты для задач фильтрации/категоризации/роутинга писем – TPL DataFlow, MEF, SpamAssassin integration.
							Разработка (с нуля) Configuration Manager - Self-hosted OWIN Web-служба, легковесный SPA Web-интерфейс с обособленным Razor Engine (без тяжеловесных ASP и MVC).
							Создание (с нуля) сервиса коротких ссылок – Managed IIS middleware, ASP.NET WebAPI, Couchbase, MS SQL CLR stored-procs.
							Разработка (с нуля) сервиса верификации email – DNS A, MX record lookup, SMTP VRFY & RCPT TO проверка. Участие в непрерывной разработке Back-End сервисов в рамках SCRUM-процесса.
						</li>
						<li>
							<i>MS SQL разработка</i>: Имплементация баз данный для проектов в разделе выше с использованием SSDT.
							Участие в непрерывной разработке бэкофисной системы (разработка новой логики, оптимизация узких мест).
						</li>
						<li>
							<i>Delphi разработка</i>: Участие в непрерывной разработке бэкофисной системы и CRM системы.
						</li>
						<li>
							<i>JS, CSS разработка</i>: Участие в непрерывной разработке Front-End – xslt шаблоны, ES5, gulp.
						</li>
						<li>
							<i>Прочее</i>: Решение точечных проблем с использованием Python, NodeJS, PowerShell, PHP, Microsoft SSRS, WinForms, C++, Java.
						</li>
					</ul>
            <p>
				<table class="place">
					<tr>
						<td class="dates">Окт 2010 – Окт 2013</td>
						<td class="position">Инженер программист</td>
					</tr>
				</table>
				<h3>Алексэн</h3>
				<h3>Москва, Россия</h3>
				<p>
					<ul>
						<li>
							<i>Управление проектами</i>: Написание технического задания. Разработка пилотного проекта. Подготовка презентации. Переговоры с клиентами. Написание коммерческого предложения.
							Организация видеоконференцсвязи для публичных событий. Моделирование бизнес-процессов организации и модернизация существующего документооборота.
						</li>
						<li>
							<i>Набор персонала</i>: Оценка необходимых ресурсов для выполнения нового проекта. Набор команды разработчиков.
						</li>
						<li>
							<i>Проектирование</i>: Проектирование и разработка ядра звукового редактора, разработка GUI и основного функционала. Проектирование и разработка фильтра шумоочистки.
							Проектирование и разработка моногоформатного потокового аудиоплеера. Решение проблемы обновления ПО и разработка онлайн апдейтера. (Visual C++)
						</li>
						<li>
							<i>Разработка C++</i>: Добавление нового функционала в клиент-серверное ПО, подготовка релизов. Обнаружение и устранение уязвимостей, анализ кода.
							Портирование инсталлятора из Wise в WiX. (Visual C++, Access, MS SQL Server, WiX)
						</li>
						<li>
							<i>Тестирование</i>: Установка и настройка программно-аппаратной конфигурации для тестирования бета версий.
							Проведение нагрузочного тестирования, мониторинг и анализ результатов.
						</li>
					</ul>
            <p>
				<table class="place">
					<tr>
						<td class="dates">Ноя 2008 – Окт 2010</td>
						<td class="position">1C программист</td>
					</tr>
				</table>
				<h3>Аделит</h3>
				<h3>Москва, Россия</h3>
				<p>
					<ul>
						<li>
							Подготовка пилотного проекта 1C Web портала. Подготовка и настройка платформы с виртуальными машинами.
							Установка и настройка Web сервера, Active Directory и сервера БД. Разработка функционала Web портала. (1C Предприятие, MS SQL Server, IIS, Visual C#, Visual Basic)
						</li>
						<li>
							Разработка 1С конфигураций по техническому заданию.
						</li>
						<li>
							Подготовка презентаций и технических предложений, ведение переговоров с клиентами.
						</li>
					</ul>
            <p>
				<table class="place">
					<tr>
						<td class="dates">Сен 2009 – Авг 2010</td>
						<td class="position">1C программист</td>
					</tr>
				</table>
				<h3>МГТУ им. Н.Э. Баумана, НОЦ “Электронный университет”</h3>
				<h3>Москва, Россия</h3>
				<p>
					<ul>
						<li>
							Разработка 1С конфигурации для управления зарплатой бюджетных организаций для МГТУ им. Н.Э. Баумана.
						</li>
						<li>
							Организация совещаний с заказчиками для уточнения требований.
						</li>
					</ul>
            <p>
				<table class="place">
					<tr>
						<td class="dates">Окт 2007 – Авг 2008</td>
						<td class="position">Инженер программист</td>
					</tr>
				</table>
				<h3>САМО-софт</h3>
				<h3>Москва, Россия</h3>
				<p>
					<ul>
						<li>
							Разработка GUI и реализация набора хранимых процедур для будущего релиза. (Borland Delphi, MS SQL Server)
						</li>
						<li>
							Составление руководства пользователя для релизного продукта.
						</li>
					</ul>
            <h2 class="subhead">ОБРАЗОВАНИЕ</h2>
			<p>
				<table class="place">
					<tr>
						<td class="dates">Сен 2004 – Июн 2010</td>
						<td class="position">Степень магистра в области компьютерных систем и сетей</td>
					</tr>
				</table>
				<h3>МГТУ им. Н.Э. Баумана</h3>
				<h3>Москва, Россия</h3>
            <h2 class="subhead">ОБУЧЕНИЕ</h2>
			<p>
				<table class="place">
					<tr>
						<td class="dates">2007</td>
						<td>IBM System z (Центр компетенции IBM Mainframe).</td>
					</tr>
					<tr>
						<td class="dates">2007</td>
						<td>IBM z/OS and mainframe programming (Центр компетенции IBM Mainframe).</td>
					</tr>
					<tr>
						<td class="dates">2008</td>
						<td>1C: Предприятие 8 Специалист.</td>
					</tr>
				</table>
            <h2 class="subhead">СЕРТИФИКАТЫ</h2>
			<p>
				<table class="place">
					<tr>
						<td class="dates">2008</td>
						<td>1C: Предприятие 8 Профессионал.</td>
					</tr>
				</table>
            <h2 class="subhead">АВТОРСКИЕ ПРАВА</h2>
			<p>
				<table class="place">
					<tr>
						<td class="dates">2011</td>
						<td>Авторские права на “Система автоматического анализа электронного документа”.</td>
					</tr>
				</table>
            <h2 class="subhead">ЯЗЫКИ</h2>
			<p>
				<ul>
					<li>Русский - родной.</li>
					<li>Английский - технический.</li>
				</ul>
            <h2 class="subhead">ДОПОЛНИТЕЛЬНО</h2>
			<p class="plaintext">
				Разработка “Системы автоматического анализа структурированного электронного документа” основанной на статистике Google.
				Анализ TCP пакетов от Google и решение проблемы отклонения HTTP-запросов.
			</p>
			<h2 class="subhead">ССЫЛКИ</h2>
			<p>
				<ul>
					<li><a href="https://github.com/risedphantom" rel="external" target="_blank">Репозитории на GitHub</a></li>
					<li><a href="https://habrahabr.ru/users/risedphantom/topics/" rel="external" target="_blank">Публикации на habrahabr</a></li>
				</ul>
        </div>

	</section>
</div>
{% endblock %}