{% extends 'website/shared/layout.html' %}
{% block content %}
<div id="use">
	<h1>Коротко об инструментах разработки.</h1>
	<section>
		Итак, пройдёмся по списку:
		<br>
		<br>
		<ul>
			<li><strong>IDE:</strong> Visual Studio 2013 - вне конкуренции для разработки под .NET. Работать с Node JS и JavaScript тоже вполне приятно.</li>
			<li><strong>VCS:</strong> MS TFS, Mercurial для работы, Git - для дома. Разработка под .NET автоматически ставит на путь использования технологий Microsoft.</li>
			<li><strong>DB:</strong> MS SQL Server 2014, а для разработки SQL Server Management Studio 2014.</li>
			<li><strong>Delphi IDE:</strong> Rad Studio 10 - в ногу со временем.</li>
			<li><strong>Autobuild:</strong> MS TFS Build service - отличная работа "из коробки" с TFS с привязкой к changeset и work item.</li>
			<li><strong>Release:</strong> MS Release Management - без него был бы не полный набор инструментов от Microsoft.</li>
			<li><strong>Bug tracker:</strong> MS TFS, Atlassian Jira - в зависимости от проекта.</li>
			<li><strong>Monitoring:</strong> Zabbix - System Center Operations Manager уже на подходе, но пока Zabbix.</li>
			<li><strong>Logs:</strong> Elasticsearch + kibana - красиво, удобно, гибко.</li>
			<li><strong>Docs:</strong> Atlassian Confluence - иногда приходится писать документацию к проектам.</li>
			<li><strong>Tools:</strong> SoapUI для разработки Web API, Wireshark для тяжелых случаев.</li>
			<li><strong>Other:</strong> Всё остальное в Nodepad++.</li>
		</ul>
		<br>
		В общем вполне логичный набор для C# разработчика.
	</section>
</div>
{% endblock %}