{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noarchive" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic" >
    </head>

    <body>
        {% include 'website/shared/svg.html' %}

        <div id="page-container">
            <div id="page-wrapper">
                <header id="masthead" class="clearfix">
                    <a id="masthead-name" href="/">Панов Антон</a>

                    <nav id="main-nav">
                        <ul>
                            <li>
                                <a href="/resume" >Резюме</a>
                            </li>
                            <li>
                                <a href="/portfolio" >Портфолио</a>
                            </li>
                            <li>
                                <a href="/uses" >Инструменты</a>
                            </li>
                            <li>
                                <a href="/about" >О сайте</a>
                            </li>
                            <li>
                                <a href="/contacts" >Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <section id="who">
                    <p class="response hidden"></p>
                    <p><a class="trigger hidden" href="#">Мы встречались?</a></p>
                    <ol class="answers hidden">
                        <li>Да, <a href="#" data-answer="friend">мы отлично знакомы</a>.</li>
                        <li>Да, <a href="#" data-answer="enemy">к сожалению, да</a>.</li>
                        <li>Нет, <a href="#" data-answer="anonymous">и давайте не будем</a>.</li>
                        <li><a href="#" data-answer="soon">Скоро встретимся</a>.</li>
                    </ol>
                </section>

                <main>
                    <div class="content">
                    {% block content %}{% endblock %}
                    </div>
               </main>
            </div>
        </div>
        <footer id="site-footer">
            <p>
                <svg class="earth icon"><use href="#icon-earth"></use></svg>
                Москва, Россия
            </p>
        </footer>

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>