sudo: required

language: python

python: 3.6

services:
  - docker

before_install:
  - docker build -t "$DOCKER_USERNAME"/showcasepython .

script: pytest

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push "$DOCKER_USERNAME"/showcasepython;
    fi